#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [6]:
import pandas as pd

In [8]:
import os
os.listdir()

['Lecture_3_4_–§—É–Ω–∫—Ü—ñ—è_apply_–≤_pandas.ipynb',
 'hw_3_2_–û—Å–Ω–æ–≤–∏_—Ä–æ–±–æ—Ç–∏_–∑_–¥–∞–Ω–∏–º–∏_—É_Pandas.ipynb',
 'hw_3_3_–†–æ–∑—à–∏—Ä–µ–Ω—ñ_–º–µ—Ç–æ–¥–∏_–æ–±—Ä–æ–±–∫–∏_–¥–∞–Ω–∏—Ö_—É_Pandas_.ipynb',
 'Lecture_3_1_3_3_Pandas_and_numpy-2.ipynb',
 'Lecture_3_1_3_3_Pandas_and_numpy.ipynb',
 'res_lecture_3.csv',
 'supermarket_sales_enriched.csv',
 '.ipynb_checkpoints',
 'hw_3_4_apply,_groupby,_pivot_table.ipynb',
 'hw_3_1_–í–≤–µ–¥–µ–Ω–Ω—è_—É_Pandas_—Ç–∞_NumPy_.ipynb',
 '2_hw_3_2_–û—Å–Ω–æ–≤–∏_—Ä–æ–±–æ—Ç–∏_–∑_–¥–∞–Ω–∏–º–∏_—É_Pandas.ipynb .ipynb']

In [10]:
os.listdir('../data/')

['.DS_Store',
 'health_insurance_cross_sell_prediction.csv',
 'supermarket_sales.csv']

In [12]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [19]:
# –ì—Ä—É–ø—É—î–º–æ –¥–∞–Ω—ñ –∑–∞ —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –æ–±—á–∏—Å–ª—é—î–º–æ —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫
branch_profit = df.groupby('Branch')['Total'].sum()
branch_profit

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

–§—ñ–ª—ñ–∞–ª '–°' –∑ –Ω–∞–π–±—ñ–ª–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [31]:
df.groupby(['City', 'Branch'])['Total'].sum()

City       Branch
Mandalay   B         106197.6720
Naypyitaw  C         110568.7065
Yangon     A         106200.3705
Name: Total, dtype: float64

In [37]:
# –í–∏–∑–Ω–∞—á–∞—î–º–æ –∫–æ–º–±—ñ–Ω–∞—Ü—ñ—é –º—ñ—Å—Ç–∞ —Ç–∞ —Ñ—ñ–ª—ñ–∞–ª—É –∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —ñ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è
most_profitable = df.groupby(['City', 'Branch'])['Total'].sum().idxmax()  # –ü–æ–≤–µ—Ä—Ç–∞—î (City, Branch) –ú–µ—Ç–æ–¥ idxmax() –≤ Pandas –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è –¥–ª—è –∑–Ω–∞—Ö–æ–¥–∂–µ–Ω–Ω—è —ñ–Ω–¥–µ–∫—Å—É –µ–ª–µ–º–µ–Ω—Ç–∞ –∑ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–º –∑–Ω–∞—á–µ–Ω–Ω—è–º —É —Å–µ—Ä—ñ—ó –∞–±–æ –≤ –ø–µ–≤–Ω—ñ–π –æ—Å—ñ DataFrame. –í—ñ–Ω –ø–æ–≤–µ—Ä—Ç–∞—î –ø–µ—Ä—à–∏–π —ñ–Ω–¥–µ–∫—Å, –¥–µ –¥–æ—Å—è–≥–∞—î—Ç—å—Å—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–µ –∑–Ω–∞—á–µ–Ω–Ω—è.
most_profitable

('Naypyitaw', 'C')

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [39]:
invoices_by_category = df.pivot_table(
    index='Branch',               # –†—è–¥–∫–∏: —Ñ—ñ–ª—ñ—ó
    columns='Product line',       # –°—Ç–æ–≤–ø—Ü—ñ: –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤
    values='Invoice ID',          # –ó–Ω–∞—á–µ–Ω–Ω—è: —É–Ω—ñ–∫–∞–ª—å–Ω—ñ —ñ–Ω–≤–æ–π—Å–∏
    aggfunc='count',              # –ê–≥—Ä–µ–≥–∞—Ç–Ω–∞ —Ñ—É–Ω–∫—Ü—ñ—è: –ø—ñ–¥—Ä–∞—Ö—É–Ω–æ–∫ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ
    fill_value=0                  # –ó–∞–ø–æ–≤–Ω–µ–Ω–Ω—è –ø—Ä–æ–ø—É—â–µ–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å –Ω—É–ª—è–º–∏
)

In [41]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [55]:
with_max_electronics = invoices_by_category['Electronic accessories'].idxmax()
with_max_electronics

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –Ø–∫–∏–π —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å –ø–æ–∫—É–ø—Ü—ñ —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö?

2. –ö–ª—ñ—î–Ω—Ç–∏-—á–æ–ª–æ–≤—ñ–∫–∏  –ø—Ä–∏–Ω–æ—Å—è—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥?

3. –Ø–∫–∏–π —Ç–∏–ø —Ç–æ–≤–∞—Ä—É –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ (Rating)?

In [59]:
# –ø–µ—Ä—à–∞ –≥—ñ–ø–æ—Ç–µ–∑–∞
payment_by_city = df.pivot_table(
    index='City', 
    columns='Payment', 
    values='Invoice ID', 
    aggfunc='count', 
)
payment_by_city

Payment    Cash  Credit card  Ewallet
City
Mandalay    110          109      113
Naypyitaw   124           98      106
Yangon      110          104      126

In [61]:
most_popular_payment = payment_by_city.idxmax
most_popular_payment

<bound method DataFrame.idxmax of Payment    Cash  Credit card  Ewallet
City
Mandalay    110          109      113
Naypyitaw   124           98      106
Yangon      110          104      126>

In [63]:
most_popular_payment = payment_by_city.idxmax(axis=1)

In [65]:
most_popular_payment

City
Mandalay     Ewallet
Naypyitaw       Cash
Yangon       Ewallet
dtype: object

–ù–∞–π–±—ñ–ª—å—à –ø–æ–ø—É–ª—è—Ä–Ω–∏–º–∏ —Å–ø–æ—Å–æ–±–æ–º–∏ –æ–ø–ª–∞–∏ —î Ewallet —É 2-—Ö –º—ñ—Å—Ç–∞—Ö –∑ —Ç—Ä—å–æ—Ö.
–ú–æ–∂–Ω–∞ –ø—Ä–∏–≤'—è–∑—É–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥-—Å—Ç—Ä–∞—Ç–µ–≥—ñ—é –∑ —Ü—ñ—î—é –æ–ø–ª–∞—Ç–æ—é, –∑—Ä–æ–±–∏—Ç–∏ —Ü—é –æ–ø–ª–∞—Ç—É —â–µ –∑—Ä—É—á–Ω—ñ—à–æ—é, –±—ñ–ª—å—à–µ –ø–æ—Ç—Ä—ñ–±–Ω–∏—Ö —Ç–µ—Ä–º—ñ–Ω–∞–ª—ñ–≤, –Ω–æ–≤—ñ—à—ñ, –¥–æ–º–æ–≤–∏—Ç–∏—Å—è –ø—Ä–æ –∫—Ä–∞—â—ñ —É–º–æ–≤–∏ –∑ –±–∞–Ω–∫–æ–º —ñ —Ç–¥.

In [67]:
# –¥—Ä—É–≥–∞ –≥—ñ–ø–æ—Ç–µ–∑–∞
payment_by_Gender = df.pivot_table(
    index='City', 
    columns='Gender', 
    values='Invoice ID', 
    aggfunc='count', 
)
payment_by_Gender

Gender     Female  Male
City
Mandalay      162   170
Naypyitaw     178   150
Yangon        161   179

In [71]:
most_popular_gender = payment_by_Gender.idxmax(axis=1)
most_popular_gender

City
Mandalay       Male
Naypyitaw    Female
Yangon         Male
dtype: object

–ù–∞–π–±—ñ–ª—å—à –∞–∫—Ç–∏–≤–Ω–∏–º–∏ –ø–æ–∫—É–ø—Ü—è–º–∏ —î —á–æ–ª–æ–≤—ñ–∫–∏ —É 2-—Ö –º—ñ—Å—Ç–∞—Ö –∑ —Ç—Ä—å–æ—Ö. –í–∞—Ä—Ç–æ –≤–∑—è—Ç–∏ —Ü–µ –Ω–∞ –∑–∞–º—ñ—Ç–∫—É —Ç–∞ —Ä–µ–≥—É–ª—è—Ä–Ω–æ –¥–±–∞—Ç–∏ —â–æ–± –±—É–≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏–π –∞—Å–æ—Ç—Ä–∏–º–µ–Ω—Ç —Ç–æ–≤–∞—Ä—ñ–≤. –ú–æ–∂–ª–∏–≤–æ –∑–∞–ø—É—Å—Ç–∏—Ç–∏ –ø—Ä–æ–º–æ –¥–æ –ì—Ä–∞–Ω–ü—Ä—ñ –§–æ—Ä–º—É–ª–∏-1 —á–∏ –õ—ñ–≥–∏ –ß–µ–º–ø—ñ–æ–Ω—ñ–≤.

In [81]:
# —Ç—Ä–µ—Ç—è –≥—ñ–ø–æ—Ç–µ–∑–∞
avg_best_rating_by_product = df.groupby('Product line')['Rating'].mean()

avg_best_rating_by_product

Product line
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

In [83]:
highest_rated_product = avg_best_rating_by_product.idxmax()

In [85]:
highest_rated_product

'Food and beverages'

–ù–∞–π–±—ñ–ª—å—à–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –º–∞—î–º–æ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —ñ–∂—ñ —Ç–∞ –Ω–∞–ø–æ—ó. –¢—Ä–µ–±–∞ —Ç—Ä–∏–º–∞—Ç–∏ –Ω–∞ –∫–æ–Ω—Ç—Ä–æ–ª—ñ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç. –¢–∞–∫–æ–∂ –º–æ–∂–Ω–∞ —Ä–∞–∑–æ–º –∑ —Ü—ñ—î—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∫–æ–º–±–æ-–ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ , —è–∫—ñ –º–∞—é—Ç—å –Ω–∏–∂—á–µ —Ä–µ–π—Ç–∏–Ω–≥, —â–æ–± –∫–µ—Ä—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–Ω–∏–º–∏ –∑–∞–ø–∞—Å–∞–º–∏.