#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [6]:
import pandas as pd

In [8]:
import os
os.listdir()

['Lecture_3_4_Функція_apply_в_pandas.ipynb',
 'hw_3_2_Основи_роботи_з_даними_у_Pandas.ipynb',
 'hw_3_3_Розширені_методи_обробки_даних_у_Pandas_.ipynb',
 'Lecture_3_1_3_3_Pandas_and_numpy-2.ipynb',
 'Lecture_3_1_3_3_Pandas_and_numpy.ipynb',
 'res_lecture_3.csv',
 'supermarket_sales_enriched.csv',
 '.ipynb_checkpoints',
 'hw_3_4_apply,_groupby,_pivot_table.ipynb',
 'hw_3_1_Введення_у_Pandas_та_NumPy_.ipynb',
 '2_hw_3_2_Основи_роботи_з_даними_у_Pandas.ipynb .ipynb']

In [10]:
os.listdir('../data/')

['.DS_Store',
 'health_insurance_cross_sell_prediction.csv',
 'supermarket_sales.csv']

In [12]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [19]:
# Групуємо дані за філіалом і обчислюємо сумарний прибуток
branch_profit = df.groupby('Branch')['Total'].sum()
branch_profit

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

Філіал 'С' з найбілльшим прибутком.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [31]:
df.groupby(['City', 'Branch'])['Total'].sum()

City       Branch
Mandalay   B         106197.6720
Naypyitaw  C         110568.7065
Yangon     A         106200.3705
Name: Total, dtype: float64

In [37]:
# Визначаємо комбінацію міста та філіалу з максимальним прибутком і відповідне значення
most_profitable = df.groupby(['City', 'Branch'])['Total'].sum().idxmax()  # Повертає (City, Branch) Метод idxmax() в Pandas використовується для знаходження індексу елемента з максимальним значенням у серії або в певній осі DataFrame. Він повертає перший індекс, де досягається максимальне значення.
most_profitable

('Naypyitaw', 'C')

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [39]:
invoices_by_category = df.pivot_table(
    index='Branch',               # Рядки: філії
    columns='Product line',       # Стовпці: категорії товарів
    values='Invoice ID',          # Значення: унікальні інвойси
    aggfunc='count',              # Агрегатна функція: підрахунок кількості
    fill_value=0                  # Заповнення пропущених значень нулями
)

In [41]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [55]:
with_max_electronics = invoices_by_category['Electronic accessories'].idxmax()
with_max_electronics

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. Який спосіб оплати найчастіше використовують покупці у різних містах?

2. Клієнти-чоловіки  приносять найбільший дохід?

3. Який тип товару має найвищий середній рейтинг (Rating)?

In [59]:
# перша гіпотеза
payment_by_city = df.pivot_table(
    index='City', 
    columns='Payment', 
    values='Invoice ID', 
    aggfunc='count', 
)
payment_by_city

Payment    Cash  Credit card  Ewallet
City
Mandalay    110          109      113
Naypyitaw   124           98      106
Yangon      110          104      126

In [61]:
most_popular_payment = payment_by_city.idxmax
most_popular_payment

<bound method DataFrame.idxmax of Payment    Cash  Credit card  Ewallet
City
Mandalay    110          109      113
Naypyitaw   124           98      106
Yangon      110          104      126>

In [63]:
most_popular_payment = payment_by_city.idxmax(axis=1)

In [65]:
most_popular_payment

City
Mandalay     Ewallet
Naypyitaw       Cash
Yangon       Ewallet
dtype: object

Найбільш популярними способоми оплаи є Ewallet у 2-х містах з трьох.
Можна прив'язувати маркетинг-стратегію з цією оплатою, зробити цю оплату ще зручнішою, більше потрібних терміналів, новіші, домовитися про кращі умови з банком і тд.

In [67]:
# друга гіпотеза
payment_by_Gender = df.pivot_table(
    index='City', 
    columns='Gender', 
    values='Invoice ID', 
    aggfunc='count', 
)
payment_by_Gender

Gender     Female  Male
City
Mandalay      162   170
Naypyitaw     178   150
Yangon        161   179

In [71]:
most_popular_gender = payment_by_Gender.idxmax(axis=1)
most_popular_gender

City
Mandalay       Male
Naypyitaw    Female
Yangon         Male
dtype: object

Найбільш активними покупцями є чоловіки у 2-х містах з трьох. Варто взяти це на замітку та регулярно дбати щоб був відповідний асотримент товарів. Можливо запустити промо до ГранПрі Формули-1 чи Ліги Чемпіонів.

In [81]:
# третя гіпотеза
avg_best_rating_by_product = df.groupby('Product line')['Rating'].mean()

avg_best_rating_by_product

Product line
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

In [83]:
highest_rated_product = avg_best_rating_by_product.idxmax()

In [85]:
highest_rated_product

'Food and beverages'

Найбільший рейтинг маємо у категорії іжі та напої. Треба тримати на контролі асортимент. Також можна разом з цією категорією пропонувати комбо-пропозиції з категорією товарів , які мають нижче рейтинг, щоб керувати товарними запасами.